/***************************************************************************
* Copyright 2009 Benjamin Kellermann                                       *
*                                                                          *
* This file is part of dudle.                                              *
*                                                                          *
* Dudle is free software: you can redistribute it and/or modify it under   *
* the terms of the GNU Affero General Public License as published by       *
* the Free Software Foundation, either version 3 of the License, or        *
* (at your option) any later version.                                      *
*                                                                          *
* Dudle is distributed in the hope that it will be useful, but WITHOUT ANY *
* WARRANTY; without even the implied warranty of MERCHANTABILITY or        *
* FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public     *
* License for more details.                                                *
*                                                                          *
* You should have received a copy of the GNU Affero General Public License *
* along with dudle.  If not, see <http://www.gnu.org/licenses/>.           *
***************************************************************************/

.invisible {
	visibility: hidden;
}

#tablist {
	white-space: nowrap;
}

input {
	color: inherit;
}

a, a:visited {
color:#606;
text-decoration:none;
}
	
a:hover, a:active {
color:#606;
text-decoration:underline;
}

td.ayes, td.bmaybe, td.cno { cursor:default; border:3px double;}
td.ayes, input.chosen  { background-color:#fff; border-color:#f0c}
td.cno { background-color:#Fff; border-color:#636 }
td.bmaybe { background-color:#FFf; border-color:#ccc}
td.undecided { background-color:#fff;color:#ccc }
td.input-ayes, td.input-cno, td.input-bmaybe {background-color:#fff; color:#333; border:none;}
td.checkboxes {
	background-color: #fff;
	padding-left: 0px;
	padding-right: 0px;
	border: 3px double #606;
}

table.checkboxes{
	width: 100%;
	border-collapse: collapse;
}

label { cursor: pointer; }

td.name {
	text-align:right;
}

#active, #activedeletebutton{
	background-color:#ccc;
}

th.weekday{
	width: 2.5em;
}

input.chosen { background-color:#ccc; }
input.navigation, input.disabled, input.chosen, input.notchosen {
	border-width: 1px; 
	border-style: double;
	border-color: black;
	padding: 0px;
	cursor: pointer;
	width: 100%;
}

input.navigation {
	color: white; 
	background-color: black;
}

input.disabled { background-color:#eee;color:#ccc}

table { 
	border: none; 
}

table.calendarday {
	border-spacing: 2px;
}

table.calendarday form {
	padding: 0px;
	margin: 0px;
}

table.calendarday td {
	padding: 0px;
	margin: 0px;
}

table.calendarday td input{
	margin: 0px;
	padding: 1px;
}

div.undo{
	text-align: center;
	margin-top: 2em;
}

td.settingstable, table.settingstable td{
	text-align: left;
}
table.settingstable td.label{
	text-align: right;
}

td.historycomment{
	text-align: left;
}

td {
	vertical-align:middle;
	text-align:center;
	border-width: 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-top: 1px;
	font-size:0.8em;
	font-weight:bold;
}

tr#add_participant{
	margin:5ex;
	padding: 5ex;
}

tr.participantrow, tr#add_participant{ 
	margin-top:5ex;
	background-color:#fff;
}
	
td.sum { 
	margin-top:5ex;
	background-color:#eee;
}
	
td.polls {
	text-align:left;
}

th { 
	font-size:0.8em;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #eee;
	border:none;
}

td.date { 
	color:#ccc;
	text-align: left;
	font-size:0.8em;
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;
}

html {
	background: #fcf;
	color: #333;
	font-family:Georgia, "Times New Roman", Times, serif;
}
#main{
	margin-left: auto;
	margin-right:auto; 
	display:table;
}
#content {
	background: #fcf;
	padding: 2em;
	color: #333;
	border: double 6px #c09;
	top: 0px;
	margin-top: 0px;
}

.textcolumn{
	max-width: 45em;
}

.shorttextcolumn{
	max-width: 20em;
}
.hint{
	font-size:small;
}

div#tabs ul{
	margin-top: 2em;
}

div#tabs ul, p#history{
	font-size: 0.8em;
	font-weight:bold;
}

div#tabs ul{
	margin-left: 0em;
	margin-bottom: 0em;
	padding: 0em;
	list-style-type: none;
}

div#tabs li{
	background: #fcf;
	border-width: 6px;
	display: inline;
}

li#active_tab{
	border-style: double double none; 
	padding-bottom: 6px;
	border-color:#c09;
	color:#c09;
}

li.nonactive_tab{ 
	border-style: double;
	border-color:#999;
	border-bottom:none;
}

li.separator_tab {
	margin-left: 2em;
}

pre#configwarning {
	font-family: "Courier New",Courier,monospace;
	letter-spacing:0;
	margin-top: -12ex;
	line-height:95%;
	margin-left: -2ex;
}

.warning, .error{
	color: red;
}

h1 {
	text-align:left;
	font-size:1.4em;
	font-weight:bold;
	color:#c09;
	margin-bottom:1em;
}

h2 {
	margin-top:1.5em;
	text-align:left;
	font-size:1.4em;
	font-weight:bold;
	color:#c09;
	margin-bottom:1em;
}

div.comment { 
	margin-top: 1ex; 
	line-height: 1.4em;
}

form#ac_participant, form#ac {
	background: #EEE;
}
form#ac_participant, form#ac, form#ac_admin{
	padding: 1em;
}

#languageChooser {
	margin-top: 1em;
	text-align: center;
}
