/***************************************************************************
* Copyright 2009 Benjamin Kellermann, Hagen Wahrig                         *
*                                                                          *
* This file is part of dudle.                                              *
*                                                                          *
* Dudle is free software: you can redistribute it and/or modify it under   *
* the terms of the GNU Affero General Public License as published by       *
* the Free Software Foundation, either version 3 of the License, or        *
* (at your option) any later version.                                      *
*                                                                          *
* Dudle is distributed in the hope that it will be useful, but WITHOUT ANY *
* WARRANTY; without even the implied warranty of MERCHANTABILITY or        *
* FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public     *
* License for more details.                                                *
*                                                                          *
* You should have received a copy of the GNU Affero General Public License *
* along with dudle.  If not, see <http://www.gnu.org/licenses/>.           *
***************************************************************************/

.invisible {
	visibility: hidden;
}

a {
	border:medium none;
	color:#6D8AB2;
	text-decoration:underline;
}

input {
	color:inherit;
}

td.ayes, td.bmaybe, td.cno { cursor:default;}
td.ayes, td.input-ayes, input.chosen  { background-color:#9C6}
td.cno, td.input-cno { background-color:#FC9 }
td.bmaybe, td.input-bmaybe { background-color:#FF6}
td.undecided { background-color:#EEE }
tr#add_participant { background-color:#EEE; }

td.checkboxes {
	background-color: #DDD;
	padding-left: 0px;
	padding-right: 0px;
}
table.checkboxes{
	width: 100%;
	border-collapse: collapse;
}

label { cursor: pointer; }

td.name {
	text-align:right;
}

#active, #activedeletebutton{
	background-color:#A00;
}

td.name a,td.name a:visited {
	text-decoration: none;
}

th.weekday{
	width: 2.5em;
}

input.navigation, input.disabled, input.chosen, input.notchosen {
	border-width: 1px; 
	border-style: solid;
	border-color: black;
	padding: 0px;
	cursor: pointer;
	width: 100%;
}

input.navigation {
	color: white; 
	background-color: black;
}

input.disabled { background-color:#DDD;color:#BBB}

table { 
	border: none; 
}

table.calendarday {
	border-spacing: 2px;
}

table.calendarday form {
	padding: 0px;
	margin: 0px;
}

table.calendarday td {
	padding: 0px;
	margin: 0px;
}

table.calendarday td input{
	margin: 0px;
	padding: 1px;
}

div.undo{
	text-align: center;
	margin-top: 2em;
}

td.settingstable, table.settingstable td{
	text-align: left;
}
table.settingstable td.label{
	text-align: right;
}

td.historycomment{
	text-align: left;
}
td {
	vertical-align:middle;
	text-align:center;
	border-width: 0px;
	padding-left: 3px;
	padding-right: 3px;
}

td.polls {
	text-align:left;
}

tr.participantrow:hover .name,
tr.participantrow:hover .date {
	background: #6D8AB2;;
	color: white;
}

tr.participantrow:hover .name a{
	color: inherit;
}

th { 
	padding-left: 3px;
	padding-right: 3px;
	color: white;
	background-color:#6D8AB2;
	font-weight: bold;
	border-width:0;
}

th a{
	color: white;
	text-decoration: none;
}

html {
	background-color: white;
	
	font-family:Arial,sans-serif;
	color:#617BA0;
}

body {
	margin: 0px;
	background-color:#6D8AB2;
	background-image:url(primelife/primelife-left-bg.jpg);
	background-position:center bottom;
	background-repeat:repeat-x;
}

legend input{
color:inherit;
}

#header1 {
	background-image:url(primelife/primelife-logo.jpg);
	background-position:left bottom;
	background-repeat:no-repeat;
	height:113px;
	width: 310px;
	float:left;
}

#header2 {
	background-color:#6D8AB2;
	background-image:url(primelife/primelife-bg.jpg);
	background-position:right top;
	background-repeat:no-repeat;
	height:113px;
	margin:0;
	padding:0;
}
#header3 {
	border-top:6px solid #FFC13C;
	background-image:url(primelife/primelife-top-bg.jpg);
	background-position:right top;
	background-repeat:repeat-y;
	height: 4.5ex;
}
#main{
	margin-left: auto;
	margin-right: auto; 
	display:table;
	margin-top: -3.5ex;
}

#content {
	background: white;
	padding: 2em;
	top: 0px;
	margin-top: 0px;
	
	background-image:url(primelife/primelife-body-bg.jpg);
	background-position:80% 100%;
	background-repeat:no-repeat;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
}

.textcolumn{
	max-width: 45em;
}

.shorttextcolumn{
	max-width: 20em;
}
.hint{
	font-size:small;
}

div#tabs ul, p#history{
	font-size: 80%;
}

div#tabs ul{
	margin-left: 0em;
	margin-bottom: 0em;
	padding: 0em;
	list-style-type: none;
}

div#tabs li{
	background: white;
	border-width: 1px;
	border-color:#617BA0;
	display: inline;
	
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
}

div#tabs a{
	text-decoration:none;
}

li#active_tab{
	border-style: solid solid none; 
	padding-bottom: 1px;
}

li.nonactive_tab{ 
	border-style: solid;
}

li.nonactive_tab a:hover { 
	color:#FFCA3C;
}

li.nonactive_tab a { 
	color:inherit;
}

li.separator_tab {
	margin-left: 2em;
}

pre#configwarning {
	font-family: "Courier New",Courier,monospace;
	letter-spacing:0;
	margin-top: -12ex;
	line-height:95%;
	margin-left: -2ex;
}
.warning, .error{
	color: red;
}

h1 {
	text-align: center;
}

div.comment { 
	margin-top: 1ex; 
	line-height: 1.4em;
}

form#ac_participant, form#ac {
	background: #EEE;
}
form#ac_participant, form#ac, form#ac_admin{
	padding: 1em;
}
