/***************************************************************************
* Copyright 2017 Patrik Phan, www.patrikphan.de                            *
*                                                                          *
* This file is part of dudle.                                              *
* Style based on Corporate Design of TU Dresden                            *
*                                                                          *
* Dudle is free software: you can redistribute it and/or modify it under   *
* the terms of the GNU Affero General Public License as published by       *
* the Free Software Foundation, either version 3 of the License, or        *
* (at your option) any later version.                                      *
*                                                                          *
* Dudle is distributed in the hope that it will be useful, but WITHOUT ANY *
* WARRANTY; without even the implied warranty of MERCHANTABILITY or        *
* FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public     *
* License for more details.                                                *
*                                                                          *
* You should have received a copy of the GNU Affero General Public License *
* along with dudle.  If not, see <http://www.gnu.org/licenses/>.           *
***************************************************************************/


@font-face {
	font-family: DINWeb;
	font-style: normal;
	font-weight: 300;
	src: local("DINWeb-Light"), local("DINComp-Light"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/DINWeb-Light.eot);
	src: local("DINWeb-Light"), local("DINComp-Light"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/DINWeb-Light.eot?#iefix) format("embedded-opentype"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/DINWeb-Light.woff) format("woff")
}

@font-face {
	font-family: DINWeb;
	font-style: normal;
	font-weight: 400;
	src: local("DINWeb-Regular"), local("DINComp-Regular"), local("DINWeb"), local("DINComp"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/DINWeb-Regular.eot);
	src: local("DINWeb-Regular"), local("DINComp-Regular"), local("DINWeb"), local("DINComp"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/DINWeb-Regular.eot?#iefix) format("embedded-opentype"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/DINWeb-Regular.woff) format("woff")
}

@font-face {
	font-family: DINWeb;
	font-style: normal;
	font-weight: 500;
	src: local("DINWeb-Medium"), local("DINComp-Medium"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/DINWeb-Medium.eot);
	src: local("DINWeb-Medium"), local("DINComp-Medium"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/DINWeb-Medium.eot?#iefix) format("embedded-opentype"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/DINWeb-Medium.woff) format("woff")
}

@font-face {
	font-family: DINWeb;
	font-style: normal;
	font-weight: 700;
	src: local("DINWeb-Bold"), local("DINComp-Bold"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/DINWeb-Bold.eot);
	src: local("DINWeb-Bold"), local("DINComp-Bold"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/DINWeb-Bold.eot?#iefix) format("embedded-opentype"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/DINWeb-Bold.woff) format("woff")
}

@font-face {
	font-family: SourceSansPro-LatinA;
	font-style: normal;
	font-weight: 300;
	src: local("SourceSansPro-Light"), local("Source Sans Pro-Light"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/sourcesanspro-latin-ext-a-light.eot);
	src: local("SourceSansPro-Light"), local("Source Sans Pro-Light"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/sourcesanspro-latin-ext-a-light.eot?#iefix) format("embedded-opentype"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/sourcesanspro-latin-ext-a-light.woff) format("woff");
	unicode-range: U+0100-U+017F
}

@font-face {
	font-family: SourceSansPro-LatinA;
	font-style: normal;
	font-weight: 400;
	src: local("SourceSansPro-Regular"), local("Source Sans Pro-Regular"), local("SourceSansPro"), local("Source Sans Pro"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/sourcesanspro-latin-ext-a-regular.eot);
	src: local("SourceSansPro-Regular"), local("Source Sans Pro-Regular"), local("SourceSansPro"), local("Source Sans Pro"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/sourcesanspro-latin-ext-a-regular.eot?#iefix) format("embedded-opentype"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/sourcesanspro-latin-ext-a-regular.woff) format("woff");
	unicode-range: U+0100-U+017F
}

@font-face {
	font-family: SourceSansPro-LatinA;
	font-style: normal;
	font-weight: 500;
	src: local("SourceSansPro-Semibold"), local("Source Sans Pro-Semibold"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/sourcesanspro-latin-ext-a-semibold.eot);
	src: local("SourceSansPro-Semibold"), local("Source Sans Pro-Semibold"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/sourcesanspro-latin-ext-a-semibold.eot?#iefix) format("embedded-opentype"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/sourcesanspro-latin-ext-a-semibold.woff) format("woff");
	unicode-range: U+0100-U+017F
}

@font-face {
	font-family: SourceSansPro-LatinA;
	font-style: normal;
	font-weight: 700;
	src: local("SourceSansPro-Bold"), local("Source Sans Pro-Bold"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/sourcesanspro-latin-ext-a-bold.eot);
	src: local("SourceSansPro-Bold"), local("Source Sans Pro-Bold"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/sourcesanspro-latin-ext-a-bold.eot?#iefix) format("embedded-opentype"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/sourcesanspro-latin-ext-a-bold.woff) format("woff");
	unicode-range: U+0100-U+017F
}

@font-face {
	font-family: tud-icons;
	src: url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/tud-icons.ttf?6992) format("truetype"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/tud-icons.woff?6992) format("woff"), url(//tu-dresden.de/++theme++tud.theme.webcms2/fonts/tud-icons.svg?6992#tud-icons) format("svg");
	font-weight: 400;
	font-style: normal
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: DINWeb, SourceSansPro-LatinA, Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.3;
	color: #333;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: #5a7094;
	text-decoration: none;
}

#header1 {
	background: #002557;
	height: 50px;
}

#header2 {
	background: url("tud-responsive/logo.svg") no-repeat;
	max-width: 960px;
	height: 48px;
	margin: 26px auto;
}

#header3 {
	margin: 0 auto;
	background: #fff;
	position: relative;
}

#header3:after {
	content: '';
	position: absolute;
	bottom: -.6rem;
	display: block;
	z-index: 11;
	width: 100%;
	height: .6rem;
	background: url(tud-responsive/border-main.png) repeat-x;
}

#tabs {
	background: #5a7094;
	position: relative;
	padding: .25rem 0;
}

#tabs:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1000rem;
	background: #5a7094;
	height: 100%;
	right: 100%;
}

#tabs:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1000rem;
	background: #5a7094;
	height: 100%;
	left: 100%;
}

#tablist {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#tablist li {
	display: inline-block;
	margin-right: 1rem;
	text-transform: uppercase;
	color: #fff;
	font-size: .8em;
	font-weight: 500;
	padding: .5rem 0;
}

#tablist li a {
	color: #fff;
}

#tablist li.separator_tab {
	display: none;
}

#tablist li:last-child {
	margin-right: 0;
}

#breadcrumbs {
	background: #fff;
	max-width: 960px;
	padding: 0 15px;
	margin: 0 auto;
}

#breadcrumbs ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#breadcrumbs ul li {
	display: inline-block;
	position: relative;
	padding: .5rem 0;
	margin-right: 2rem;
}

#breadcrumbs ul li:after {
	font-family: tud-icons !important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	content: "î©˜";
	color: #999;
	margin: 0 0 0 .25rem;
	position: absolute;
	font-size: 1.3rem;
	vertical-align: middle;
	pointer-events: none;
}

#main {
	background: #fff;
	max-width: 960px;
	padding: 0 15px;
	position: relative;
	margin: 0 auto;
}

#content {
	padding: 1rem 0 3rem 0;
}

.invisible {
	border: none;
	visibility: hidden;
}

td {
	vertical-align:middle;
	text-align:center;
}

th, td.navigation, td.sum {
	padding: 0.25em 0.5em 0.25em 0.5em;
	background-color: #CCD6DF;
	border: none;
}

th a {
	border: none;
}

td.sum{ color: #FFF}
td.match_100{background-color: #0B2A51; }
td.match_90{ background-color: #1D355B; }
td.match_80{ background-color: #2F4067; }
td.match_70{ background-color: #3F4F74; }
td.match_60{ background-color: #515D80; }
td.match_50{ background-color: #636C8E; }
td.match_40{ background-color: #777F9E; }
td.match_30{ background-color: #8B94B1; }
td.match_20{ background-color: #A8AFC7; }
td.match_10{ background-color: #CDD4E2; }
td.match_0{  background-color: #D9DCE2; }

#active, #active input.delete {
	background-color: #89b6df;
}

pre#configwarning {
	font-family: "Courier New", Courier, monospace;
	letter-spacing: 0;
	margin-top: -12ex;
	line-height: 95%;
	margin-left: -2ex;
}

.warning, .error{
	color: #E87B14;
}

td.separator_top{
	border-top: 1px dotted #333;
	padding-top: 0.7ex;
}

th.weekday {
	width: 2.5em;
	padding: 0.25em 0.5em;
}

input.navigation,
input.disabled,
input.chosen,
input.notchosen,
input.delete,
input.toggle {
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	min-height: 1.5em;
}

input.navigation, input.disabled, input.chosen, input.notchosen, input.toggle {
	width: 100%;
}

input.toggle {
	padding: 0 0.5em;
}

.navigation,
input.delete,
input.toggle {
	background-color: #CCD6DF;
}

a.editcolumn {
	color: #000;
}

.navigation:hover,
#active input.delete:hover,
input.delete:hover,
a.editcolumn:hover,
input.toggle:hover {
	background-color: #b9cddf;
}

input.chosen {
	background-color: #7bafdf;
}

td.a_yes__,
table.checkboxes tr.input-a_yes__ td {
	background-color: #D3E7C5;
}

input.disabled,
td.undecided {
	color: #999;
}

td.c_no___,
table.checkboxes tr.input-c_no___ td {
	background-color: #F4E0E8;
}

td.b_maybe,
table.checkboxes tr.input-b_maybe td {
	background-color: #FDF2D1;
}

input.notchosen,
input.disabled {
	background-color: #FFF;
}

input.notchosen:hover,
input.chosen:hover,
input.disabled:hover {
	background-color: #b9cddf;
}

td.settingstable,
table.settingstable td {
	text-align: left;
}

table.settingstable td.label {
	text-align: right;
}

table.calendarday td {
	border-spacing: 0;
	margin: 0;
	padding: 0;
	border: 1px solid #999;
}

table.calendarday td.navigation {
	padding: 0 .5em;
	border: none;
}

table.calendarday td.invisible, table.calendarday td.addColumnManual {
	border: none;
}

table.polltable {
	padding: 0;
	border-collapse: separate;
	border-spacing: 2px;
	width: 100%;
}

#polltable {
	overflow: auto;
}

table, table td {
	border: none;
}

table.polltable td {
	padding: 0.25em 0.5em;
	margin: 1em;
}

td.name {
	text-align: right;
}

table.polltable tr.participantrow:hover {
	background-color: #E5EBF2;
}

table.polltable td.checkboxes {
	padding:0;
	margin: 0;
}

table.checkboxes {
	border-spacing: 0;
	width: 100%;
}

table.polltable tr td.input-radio {
	border-right:none;
}

table.polltable tr td.input-label {
	border-left:none;
}

tr#add_participant {
	background-color: #f5f9fc;
}

form#ac_participant,
form#ac {
	background-color: #E5EBF2;
}

form#ac_participant,
form#ac,
form#ac_admin{
	padding: 1em;
}

div#wizzard_navigation {
	text-align: center;
}

#polltitle {
	word-wrap: break-word;
}

#languageChooser {
	background: #002557;
	position: relative;
	padding: .5rem 0;
}

#languageChooser:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1000rem;
	background: #002557;
	height: 100%;
	right: 100%;
}

#languageChooser:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1000rem;
	background: #002557;
	height: 100%;
	left: 100%;
}

#languageChooser ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#languageChooser li {
	width: 33%;
	display: inline-block;
}

#languageChooser li a {
	color: #fff;
	padding: .5rem 1rem .5rem 0;
	display: block;
}


#footertud {
	border-top: 1px solid #eee;
	text-align: right;
	padding: 1.5rem 0;
}

#footertud ul {
	list-style-type: none;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 15px;
}

#footertud ul li {
	display: inline-block !important;
	margin-right: 15px;
}

#footertud ul li:last-child {
	margin-right: 0;
}